$mainColor:#b61984;


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	font-family: 'Montserrat', sans-serif;
	color: black;
	font-size: 15px;
	font-weight: bold;

	a {
		text-decoration: none;
		color: black;
	}

	a:hover {
		color: $mainColor;
	}

	.text-uppercase {
		text-transform: uppercase;
	}

	.text-center {
		text-align: center;
	}

	h1,
	.title {
		text-transform: uppercase;
		font-family: 'Fredoka One', cursive;
		font-weight: bold;
		color: #ffcf47;
	}

	h1 {
		font-size: 50px;
	}


	.title {
		font-size: 30px;
	}
}

.top {
	background: url('../img/background0.png') no-repeat, url('../img/background1.png') no-repeat bottom;
	background-size: contain;

	.header {

		.header_nav ul li,
		.header_contacts .contacts__item {
			display: inline;
			padding-left: 10px;
			padding-right: 10px;
		}

		.header_nav,
		.header_social-networks {
			padding-top: 35px;
		}

		.header_contacts {
			padding-top: 28px;
		}

		.header_contacts a:hover {
			color: $mainColor;
		}

		.burger-menu__button {
			display: block;
			position: fixed;
			display: none;
			margin-top: 5px;
			z-index: 30;
			width: 70px;
			height: 70px;
			border-radius: 50%;
			background-color: $mainColor;
			transition: 0.4s;
		}


		.burger-menu__button::before,
		.active::before {
			position: absolute;
			font-size: 40px;
			color: #ffffff;
		}

		.burger-menu__button::before {
			top: 7px;
			left: 16px;
			content: "☰";
		}

		.active::before {
			top: 6px;
			left: 17.5px;
			content: "✖";
		}

		.burger-menu__nav {
			display: none;
			padding-top: 80px;
			position: fixed;
			z-index: 20;
			height: 350px;
			background-color: $mainColor;
			width: 100%;
			right: 0px;
			transition: opacity 2s ease;

			ul li a {
				color: #ffffff;
				font-size: 15px;
			}

			ul li {
				text-align: center;
				padding-top: 15px;
			}
		}


		.burger-menu__nav ul li {
			display: block;
		}
	}

	.hero {
		padding-top: 100px;

		.description {
			padding-top: 120px;
			font-size: 20px;
			text-align: center;

			p {
				margin-bottom: 20px;
			}

			.hero__button {
				background-color: $mainColor;
				color: #ffffff;
				padding: 15px 60px;
				border: 1px solid $mainColor;
				border-radius: 50px;
				margin-top: 10px;
			}

			.hero__button:hover {
				background-color: #ffffff;
				color: $mainColor;
			}
		}
	}
}


.body {
	background: url('../img/background.png') no-repeat;
	background-size: contain;

	.advantages {

		padding-top: 200px;

		.text {
			padding: 20px 100px 150px 150px;
		}

		.advantages__quality {
			background: url('../img/quality\ \(1\).png') no-repeat;
		}

		.advantages__groupOfPeople {
			background: url('../img/group-of-people.png') no-repeat;
		}

		.advantages__students {
			background: url('../img/graduate-cap\ \(3\).png') no-repeat;
		}

	}

	.FAQ {

		.accordion {

			.accordion_item {
				margin-top: 5px;
			}

			.question {
				background: #018588;
				color: white;
				border-radius: 5px;
				padding: 25px;
			}

			.question:hover {
				cursor: pointer;
			}

			.question::after {
				content: '∨';
				float: right;
			}

			.active:after {
				content: "∧";
				float: right;
			}

			.info {
				display: none;
				padding: 10px 15px;
			}

		}
	}

	.courses {
		margin-top: 100px;
		margin-bottom: 100px;

		.caption {

			.caption_item {
				height: 530px;
				background: #efefef;
				border-radius: 15px;
				margin: 10px;
				box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);

				h2 {
					font-family: 'Fredoka One', cursive;
					font-weight: bold;
					font-size: 20px;
					color: #607790;
					text-align: center;
				}

				.caption_item__text {
					padding: 10px;

					.price {
						color: $mainColor;
						font-weight: 900;
						font-size: 18px;
					}
				}

				img {
					width: 100%;
					border-radius: 15px 15px 0px 0px;
				}
			}

			.owl-prev,
			.owl-next {
				position: absolute;
				font-size: 100px;
				bottom: 220px;
				opacity: .8;
				color: $mainColor;
				outline: none;
			}

			.owl-prev:hover,
			.owl-next:hover {
				background: none;
			}

			.owl-prev {
				left: -30px;
			}

			.owl-next {
				right: -30px;
			}

			.owl-dot {
				outline: none;
			}
		}

		.hidden {
			display: none;
		}
	}

	.signUp {
		background: url('../img/accent_bottom_wave_01.png') no-repeat bottom;
		background-size: contain;
		padding-top: 80px;
		padding-bottom: 90px;

		.form {
			margin-top: 50px;
			height: 435px;
			padding: 40px;
			background: #ffffff;
			border-radius: 15px;
			box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);

			p input,
			p textarea,
			select {
				padding: 5px;
				border-radius: 9px;
				border: 1px solid rgba(0, 0, 0, .1);
				width: 100%;
				outline: none;
			}

			select {
				color: #757575;
				padding-left: 2px;
				cursor: pointer;
			}

			p textarea {
				margin-top: 10px;
				resize: none;
			}

			.form_button {
				background-color: $mainColor;
				color: #ffffff;
				padding: 15px 60px;
				border: 1px solid $mainColor;
				border-radius: 50px;
			}

			.form_button:hover {
				background: #ffffff;
				color: $mainColor;
			}
		}

		.form:last-child {
			text-align: center;
		}

	}
}

.bottom {

	.footer {
		background: url('../img/31.png') no-repeat;
		background-size: cover;
		padding-top: 70px;
		padding-bottom: 20px;

		a:hover {
			color: #ffcf47;
		}

		.footer_top {

			div+.title {
				padding-top: 15px;
				padding-bottom: 15px;
			}
		}

		.footer_bottom {
			padding-top: 30px;

			.footer_nav ul li {
				display: inline;
			}

			.footer_nav ul li:not(:first-child) {
				padding-left: 10px;
				padding-right: 10px;
			}
		}
	}
}

/* Landscape tablets and medium desktops */

@media (min-width: 992px) and (max-width: 1199px) {

	.body {

		.advantages {
			padding-top: 170px;

			.text {
				padding: 20px 50px 150px 150px;
			}
		}

		.FAQ {

			.image {
				width: 90%;
				padding-top: 50px;
				padding-left: 50px;
			}

			.accordion {

				.question {
					padding: 20px;
				}
			}
		}

		.courses {

			.caption {

				.owl-prev {
					left: -10px;
				}

				.owl-next {
					right: -10px;
				}
			}
		}
	}
}

/* Portrait tablets and small desktops */

@media (min-width: 768px) and (max-width: 991px) {

	.container {
		font-size: 11px;

		h1 {
			font-size: 40px;
		}

		.title {
			font-size: 20px;
		}
	}

	.top {

		.header {
			.header_nav {
				display: none;
			}

			.burger-menu__button {
				display: block;
				right: 100px;
			}

			.burger-menu__nav {
				padding-top: 80px;
			}
		}

		.hero {
			padding-top: 100px;

			img {
				width: 50%;
			}

			.description {
				width: 50%;
				padding-top: 30px;
				font-size: 15px;
			}
		}
	}

	.body {

		.advantages {
			padding-top: 100px;

			.text {
				padding: 20px 50px 50px 100px;
			}

			.item {
				background-size: 30%;
			}
		}

		.FAQ {

			.image {
				display: none;
			}
		}

		.courses {

			.caption {

				.caption_item {

					h2 {
						font-size: 20px;
					}

					.caption_item__text {
						font-size: 14px;
					}
				}

				.owl-prev {
					left: -5px;
				}

				.owl-next {
					right: -5px;
				}
			}
		}


		.signUp {
			padding-right: 25px;

			img {
				margin-top: 20px;
			}

			.form {
				margin-top: 0px;
				height: 370px;
			}
		}
	}
}

@media (max-width: 870px) {
	.top {

		.header {
			.burger-menu__button {
				right: 70px;
			}
		}
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	.container {
		font-size: 12px;

		h1 {
			font-size: 30px;
		}

		.title {
			font-size: 15px;
		}
	}

	.top {

		.header {
			.header_nav {
				display: none;
			}

			.burger-menu__button {
				display: block;
				right: 15px;
			}

			.header_contacts,
			.header_social-networks {
				padding-top: 10px;
				text-align: center;
				padding-right: 40px;
			}
		}

		.hero {
			padding-top: 50px;
			margin-bottom: -1px;

			img {
				width: 45%;
			}

			.description {
				width: 45%;
				padding-top: 20px;
				font-size: 12px;
				margin-right: 30px;
				margin-left: 15px;

				h1 {
					margin-top: 10px;
				}

				p {
					margin-bottom: 5px;
				}

				.hero__button {
					padding: 5px 40px;
				}
			}
		}
	}


	.body {

		.advantages {
			padding: 80px 50px;

			p {
				text-align: center;
			}

			.text {
				font-size: 14px;
				padding: 0 50px 50px 50px;
			}

			.item {
				background-size: 10%;
			}

		}

		.FAQ {

			.image {
				display: none;
			}
		}

		.courses {

			.caption {

				.caption_item {
					height: 440px;

					h2 {
						font-size: 14px;
					}

					.caption_item__text {
						font-size: 12px;

						.price {
							font-size: 13px;
						}
					}
				}
			}
		}


		.signUp {

			img {
				width: 40%;
				margin-top: 150px;
			}

			.form {
				width: 55%;
				height: 365px;
				padding: 20px;
			}
		}
	}

	.bottom {

		.footer {
			padding-top: 30px;
		}
	}
}

@media (max-width: 650px) {
	.body {

		.signUp {

			img {
				width: 100%;
				margin-top: 0px;
				padding: 0px 0px 20px 90px;
			}

			.form {
				width: 70%;
				height: 365px;
				padding: 20px;
				margin: 0px 15px 0px 90px;
			}
		}
	}

	.bottom {

		.footer {
			background: none;
			background-color: $mainColor;
			padding-top: 30px;
		}
	}

}

@media (max-width: 550px) {
	.body {

		.signUp {
			.form {
				margin-left: 75px;
			}
		}
	}
}

/* Portrait phones and smaller */

@media (max-width: 480px) {
	.container {

		h1 {
			font-size: 20px;
		}
	}

	.top {

		.header {
			.header_logo img {
				width: 70px;
			}

			.header_nav {
				display: none;
			}

			.burger-menu__button {
				width: 60px;
				height: 60px;
			}

			.burger-menu__button::before,
			.active::before {
				top: 0.5px;
				left: 11px;
			}

			.header_contacts,
			.header_social-networks {
				padding-top: 5px;
				text-align: center;
				padding-right: 30px;
			}
		}

		.hero {

			img {
				padding-top: 30px;
				width: 100%;
			}

			.description {
				width: 100%;
				margin-left: 0px;

				.hero__button {
					padding: 4px 10px;
				}
			}
		}
	}


	.body {

		.advantages {
			padding: 70px 30px;


			.text {
				font-size: 12px;
				padding: 0 50px 30px 60px;
			}

			.item {
				background-size: 15%;
			}
		}

		.courses {

			.caption {

				.caption_item {
					width: 70%;
					margin-left: 65px;
				}
			}
		}

		.signUp {
			.form {
				margin-left: 65px;
			}
		}
	}
}


@media (max-width: 400px) {

	.body {
		.courses {
			.caption {

				.caption_item {
					height: 420px;
					margin-left: 55px;
				}
			}
		}

		.signUp {
			.form {
				margin-left: 55px;
			}
		}
	}
}

@media (max-width: 350px) {
	.body {
		.courses {
			.caption {
				.caption_item {
					height: 410px;
					margin-left: 47px;
				}
			}
		}

		.FAQ {
			.accordion {
				.question {
					padding: 20px 15px;
				}
			}
		}

		.signUp {
			.form {
				margin-left: 50px;
			}
		}
	}
}