* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



.container {
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	font-family: 'Montserrat', sans-serif;
	color: black;
	font-size: 15px;
	font-weight: bold;

	a {
		text-decoration: none;
		color: black;
	}

	a:hover {
		color: #b61984;
	}

	.text-uppercase {
		text-transform: uppercase;
	}

	.text-center {
		text-align: center;
	}

}


.top {
	background: url('../img/background0.png') no-repeat, url('../img/background1.png') no-repeat bottom;
	background-size: contain;

	.header {
		.header-flex {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}

		.header_nav ul li,
		.header_contacts .contacts__item {
			display: inline;
			padding-left: 15px;
			padding-right: 15px;
		}

		.header_contacts a:hover {
			color: #b61984;
		}
	}

	.hero {
		.hero-flex {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}

		.description {
			font-size: 20px;
			text-align: center;

			.hero__button {
				background-color: #b61984;
				color: #ffffff;
				padding: 15px 60px;
				border: 1px solid #b61984;
				border-radius: 50px;
			}

			.hero__button:hover {
				background-color: #ffffff;
				color: #b61984;
			}
		}

		h1 {
			text-transform: uppercase;
			font-family: 'Fredoka One', cursive;
			font-weight: bold;
			color: #ffcf47;
			font-size: 50px;
		}
	}
}


.body {
	background: url('../img/background.png') no-repeat;
	background-size: contain;

	.body-content {
		display: flex;
		padding-top: 100px;

		.text {
			padding: 20px 100px 150px 150px;
		}

		.body-content__quality {
			background: url('../img/quality\ \(1\).png') no-repeat;
		}

		.body-content__groupOfPeople {
			background: url('../img/group-of-people.png') no-repeat;
		}

		.body-content__students {
			background: url('../img/graduate-cap\ \(3\).png') no-repeat;
		}
	}

	.courses {
		position: relative;

		.caption {
			position: absolute;
			transition: all ease 1s;
			display: flex;
			flex-direction: row;
			z-index: 1;

			.caption_item {
				width: 350px;
				height: 520px;
				background: #efefef;
				margin: 50px 15px 0px 15px;
				border-radius: 15px;
				box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);

				h2 {
					font-family: 'Fredoka One', cursive;
					font-weight: bold;
					font-size: 20px;
					color: #607790;
					text-align: center;
				}

				.caption_item__text {
					padding: 10px;

					.price {
						color: #b61984;
						font-weight: 900;
						font-size: 18px;
					}
				}
			}


			img {
				width: 350px;
				border-radius: 15px 15px 0px 0px;
			}
		}

		.hidden {
			display: none;
		}
	}
}

